$functional-color-success: #22A498;
$functional-color-danger: #FF696A;
$functional-color-warning: #FFB15C;
$functional-color-stable: #6381FC;

$theme-color-primary:#2367B1;
$theme-color-primary-disabled:rgba(35, 103, 177,0.5);

$theme-background-color: #F5F5F5;